@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:linear-gradient(180deg, rgba(9,9,121,1) 16%, rgba(0,12,255,1) 85%, rgba(9,9,121,1) 100%);
}
.header{
  display:flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}
.fileimg{
  width:80%;
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;

}
.drag-area{
  border: 2px dashed #f3f3f7;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img-area{
  border: 2px dashed #f3f3f7;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.extensions{
  border-top: 2px dashed #f3f3f7;
  display:flex;
  flex-direction: row;
  width: 700px;
  height: 400px;
}

.brand{
  color:#000CFF;
  text-align: center;
  align-items: center;
}

.drag-area.active{
  border: 2px solid #000CFF;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.img-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.upload{
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 100;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 3px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  
}